<!-- 引用公共头文件 -->
<include file="Public/header"/>
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="<?php echo U('Admin/Index/index');?>">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">试卷管理</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="#" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">作者:</th>
                            <td><input class="common-text" placeholder="作者" name="author" value="" id="author" type="text"></td>
                            <th width="70">关键字:</th>
                            <td><input class="common-text" placeholder="关键字" name="keywords" value="" id="keywords" type="text"></td>
                            <th width="'300">
	                           	<td>
		                           	<select name="uid_type" id="uid_type">
						              <option value="">作者类别</option>
						              <option value="1">后台管理员</option>
						              <option value="2">前台用户</option>
						            </select>
					            </td>
                           	</th>
                            <td>
                            <input class="btn btn-primary btn2" name="sub" id="sub_but" value="查询" type="button">
                            <input type="hidden" id="curr_page" value="1"/>
							<input type="hidden" id="total_page" value="1"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="<?php echo U('Admin/Exam/createExam');?>"><i class="icon-font"></i>新增试卷</a>
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                        <!-- <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a> -->
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" id="result-tab" width="100%">
                    	<thead>
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" id="allChoose" name="" type="checkbox"></th>
                            <th>ID</th>
                            <th>试卷名</th>
                            <th>答题限制时间</th>
                            <th>开放答题时间</th>
                            <th>截止答题时间</th>
                            <th>备注</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        	<?php foreach($list as $k => $v){?>
                        		<tr>
	                        		<td></td>
	                        		<td><?php echo $v['id'];?></td>
	                        		<td><?php echo $v['papername'];?></td>
	                        		<td><?php echo $v['exercisetime'];?></td>
	                        		<td><?php echo $v['startdate'];?></td>
	                        		<td><?php echo $v['enddate'];?></td>
	                        		<td><?php echo $v['remake'];?></td>
	                        		<td><?php echo $v['createdate'];?></td>
	                        		<td>
	                        		<input type="button" onclick='addQuestion(<?php echo $v["id"]?>)' value="添加题目"/>
	                        		<input type="button" onclick='examList(<?php echo $v["id"]?>)' value="查看试题"/>
	                        		<input type="button" onclick='delExam(<?php echo $v["id"]?>)' value="删除试卷"/>
	                        		</td>
                        		</tr>
                        	<?php } ?>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
</div>

</body>
</html>

<script>
//添加试题
function addQuestion(id){
	window.location.href = "/index.php/Admin/exam/addQuestion?id="+id;
}

//查看试题
function examList(id){
	window.location.href = "/index.php/Admin/exam/questionList?id="+id;
}

//删除试卷
function delExam(id){
	var con = confirm("确定要删除该试卷吗，删除后不可恢复，且该试卷的相关试题也将全部删除！");
	if(con == true)
	{
		$.ajax({
			type:'post',
			url:'<?php echo U("Admin/Exam/delExam")?>',
			data:{'id':id},
			success:function(respon)
			{
				if(respon.errno == 10000)
				{
					location.replace(location.href);
				}
				else	
				{
					alert(respon.errmsg);
				}
			}
		});
	}
}
</script>