<include file="Public/header"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">订单详情示例</h2>
      </div>
      <table class="table">
       <tr>
        <td>收件人：<?php echo $info['name'];?></td>
        <td>联系电话：<?php echo $info['phone'];?></td>
        <td>收件地址：<?php echo $info['areaname'];?><?php echo $info['address'];?></td>
        <td>付款时间：<?php echo $info['paydate'];?></td>
       </tr>
       <tr>
        <td>下单时间：<?php echo $info['createdate'];?></td>
        <td>付款时间：<?php echo $info['paydate'];?></td>
        <td>确认时间：<?php echo $info['paydate'];?></td>
        <td>评价时间时间：---</td>
       </tr>
       <tr>
        <td>订单状态：<a>已付款，待发货</a></td>
        <td colspan="3">订单备注：<mark><?php echo $info['remake'];?></mark></td>
        </tr>
      </table>
      <table class="table">
       
       <?php foreach($info['detail'] as $k => $v){ ?>
       <tr>
        <td class="center"><img src="<?php echo $v['img'];?>" width="50" height="50"/></td>
        <td><?php echo $v['name'];?></td>
        <td class="center">A15902</td>
        <td class="center"><strong class="rmb_icon"><?php echo $v['price'];?></strong></td>
        <td class="center">
         <?php foreach($v['attrlist'] as $key => $val){ ?>
         	<p><?php echo $val;?></p>
         <?php } ?>
        </td>
        <td class="center"><strong><?php echo $v['goodsnum'];?></strong></td>
        <td class="center"><strong class="rmb_icon"><?php echo $v['amount'];?></strong></td>
        <td class="center">包</td>
       </tr>
       <?php } ?>
       
      </table>
      <aside class="mtb" style="text-align:right;">
       <label>管理员操作：</label>
       <input type="text" class="textbox textbox_295" placeholder="管理员操作备注"/>
       <input type="button" value="打印订单" class="group_btn"/>
       <input type="button" value="确认订单" class="group_btn"/>
       <input type="button" value="付款" class="group_btn"/>
       <input type="button" value="配货" class="group_btn"/>
       <input type="button" value="发货" class="group_btn"/>
       <input type="button" value="确认收货" class="group_btn"/>
      </aside>
 </div>
</section>
</body>
</html>
