<include file="User/header"/>

<!-- 多图上传插件 -->
<link href="/third-party/diyupload/css/webuploader.css" rel="stylesheet"><!-- 多图上传必须样式 -->
<link href="/third-party/diyupload/css/diyUpload.css" rel="stylesheet"><!-- 多图上传必须样式 -->

<script src="/third-party/diyupload/js/jquery-2.1.4.min.js"></script><!-- 必须jq -->
<script src="/third-party/diyupload/js/webuploader.html5only.min.js"></script><!-- 多图上传必须的js -->
<script src="/third-party/diyupload/js/diyUpload.js"></script><!-- 多图上传必须的js -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新增相册</strong> / <small>Add Photos</small></div>
      </div>

      <hr/>

	<!-- 个人相册图片（插件自带的）  -->
	<div style="width:100%;float:left;margin-left:15%;">
		<p style="padding-top:28px;color:#333;"><span style="color:#F37B1D;font-size:30px;">上传相册图片，可以有多张</span></p>
		<div id="box" style="width:60%;padding-left:10px;"> 
		<span id="photo_error_span" style="color:red;"></span>
	        <div id="test" class="webuploader-container"></div>  <!--上传控件按钮-->
			
			<!--回填区域 以下是图片回填的区域，用于编辑页的信息回填-->
			<!-- 
			<div class="parentFileBox" style="" id="gallery">             
	          <ul class="fileBoxUl">
	            
	            <li class="diyUploadHover" id="aaa1"> 
	              <div class="viewThumb">
	              
	                <img src="uploadfiles/57da3c766d143.jpg"/>
	               
	              </div>
	              <div class="diyCancel" onclick="del_img(this);"></div>      
	            </li>
				
				<li class="diyUploadHover" id="aaa2"> 
	              <div class="viewThumb">
	              
	                <img src="uploadfiles/d39212643ae699fb82c89e661454_600_469.jpg"/>
	                
	              </div>
	              <div class="diyCancel" onclick="del_img(this);"></div>      
	            </li>
	            
	          </ul>         
	        </div>
	         -->
			<!--回填区域-->
	    </div>
    </div> 
    
    </div>
    
<include file="User/footer"/>

<script type="text/javascript">  
    /**  
     * 服务器地址,成功返回,失败返回参数格式依照jquery.ajax习惯;  
     * 其他参数同WebUploader  
     */
    	
    $('#test').diyUpload({  
        url : '<?php echo U("Home/User/uploadPhoto");?>',  //这个是文件上传处理文件 用框架的请对应文件上传的控制器 
		//formData: { _token: "{{csrf_token()}}"}, //Laravel 框架下需要 csrf_token 才能上传，可以在 formData 里面添加需要带过去的参数
		dataType:"json",
        success : function(data) {  
            console.info(data); 
			if(data.status == 1){
				//var span =$("<input type='hidden' value='"+data.imagepath+"' name='img[]'>");//将上传后保存的路径返回 通过隐藏域放进表单里面 
				//$("#test").append(span);
				
				/* 此处把得到的Img地址传入到后台，保存到数据库*/
				var img = data.imagepath;
				$.ajax({
		    		type:'post',
		    		url:'<?php echo U("Home/User/photoUserAdd");?>',
		    		data:{'img':img},
		    		success:function(respon){
	        			if(respon.errno == 10001 || respon.errno == 20001){
	        				$('#photo_span_id').html(respon.errmsg);
	        			}
	        		}
		    	});
				
			}
			
        },  
        error : function(err) {  
            console.info(err);  
        }  
    }); 
    
  
	/**下面的这个例子是可以设置多图上传插件的一些参数：最多上传多少个图片，总上传文件大小、单个文件大小等*/
    /**$('#as').diyUpload({  
        url : '<?php echo U("Home/Photo/uploadUserMuchPhoto");?>',  
        success : function(data) {  
            console.info(data);  
        },  
        error : function(err) {  
            console.info(err);  
        },  
        buttonText : '选择文件',  
        chunked : true,  
        // 分片大小  
        chunkSize : 10 * 1024 * 1024,  
        //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);  
        fileNumLimit : 50,  
        fileSizeLimit : 100 * 1024 * 1024,  
        fileSingleSizeLimit : 10 * 1024 * 1024,  
        accept : {}  
    });*/  
	
	/**回填区域图片删除*/
	function del_img(obj){
		$(obj).parent().remove();
	}
	
	/**跳转到登录页面*/
	function login(){
		window.location.href="<?php echo U('Home/Login/ajaxLogin');?>";
	}
	
</script> 