<!-- 引用公共头文件 -->
<include file="Public/header"/>

    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="<?php echo U('Admin/Index/index');?>">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="<?php echo U('Admin/Article/listArticle');?>">文章管理</a><span class="crumb-step">&gt;</span><span>新增文章</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                            <tr>
                            	<th style="width:100px;">文章详情：</th>
                            	<td>
                            		<?php echo $info['content'];?>
                            	</td>
                                
                            </tr>
                            
                            <tr>
                                <th></th>
                                <td style="text-align:center;">
                                    <input class="btn btn-primary btn6 mr10" style="width:50%;" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->

</div>

<script src="/Public/jquery-1.8.3.min.js"></script>
<!-- 上传图片插件 -->
<script type="text/javascript" src="/Public/ajaxfileupload.js"></script>
<!-- 加载编辑器的容器 -->
  <!-- 配置文件 -->
  <script type="text/javascript" src="/third-party/ueditor/ueditor.config.js"></script>
  <!-- 编辑器源码文件 -->
  <script type="text/javascript" src="/third-party/ueditor/ueditor.all.js"></script>
  <!-- 实例化编辑器 -->
  <script type="text/javascript">
      var ue = UE.getEditor('content');
  </script>
  
<script>
//上传按钮改变时触发  增加用户体验度  实现实时显示选择的图片
function uploadimg(imgid,fileid) {
 //imgid指<img />标签id,fileid表示<input type='file' />文件上传标签的id,hiddenid指隐藏域标签id
    $("#"+imgid).attr("src","");//加载loading图片
    $.ajaxFileUpload({            
     	url: '<?php echo U("Admin/Article/artiPosterImg");?>',
        secureuri: false,
        fileElementId: fileid,  
        dataType: 'json',              
        success: function (data, status){   //data的内容都是在后台php代码中自定义的,json格式返回后在这里以对象的方式的访问
            if(typeof (data.error) != 'undefined'){
            	var error_msg = "";
            	switch(data.error){
	            	case "101": error_msg="文件类型错误";
	            		$('#error_img').html(error_msg);
	                	break;
	            	case "102": error_msg="文件过大";
	            		$('#error_img').html(err_msg);
	                	break;
	            	case "400": error_msg="非法上传";
	            		$('#error_img').html(err_msg);
	                	break;
	            	case "404": error_msg="文件为空";
	            		$('#error_img').html(err_msg);
	                	break;
	            	default :error_msg="服务器不稳定";
	            	$('#error_img').html(err_msg);
            	}
            	//alert(error_msg);
            }else{
            	$('#error_img').empty();
            	$("#"+imgid).attr("src",data.path);//加载返回的图片路径并附加上样式
                //$("#"+hiddenid).val(data.path);//给对应的隐藏域赋值，以便提交时给后台
            }              
        },
    });
}

//点击提交按钮时触发
$('#but').bind().click(function(){
	var title = $('#title').val();
	var jianjie = $('#jianjie').val();
	var ue = UE.getEditor('content');
	var content = ue.getContent();
	
	$.ajaxFileUpload({
		type:'post',
		url:'<?php echo U("Admin/Article/artiPosterImg");?>',
	    secureuri: false,
        fileElementId: 'img',  //file标签的id
        dataType: 'json',  
		success:function(data){
			var img_url = data.path;	//获取上传的图片路径
			$.ajax({
				type:'post',
				url:'<?php echo U("Admin/Article/addArticle");?>',
				data:{'title':title,'jianjie':jianjie,'editorValue':content,'img_url':img_url}, 
		        dataType: 'json',
		        success:function(respon){
		        	if(respon.errno == 10001){
						$('#error_title').html('<img src="/Public/Home/login/images/tip-error.png">'+respon.errmsg);
						$('#error_jianjie').empty();
						$('#error_img').empty();
						$('#error_content').empty();
					}else if(respon.errno == 10002){
						$('#error_jianjie').html('<img src="/Public/Home/login/images/tip-error.png">'+respon.errmsg);
						$('#error_title').empty();
						$('#error_img').empty();
						$('#error_content').empty();
					}else if(respon.errno == 10003){
						$('#error_content').html('<img src="/Public/Home/login/images/tip-error.png">'+respon.errmsg);
						$('#error_title').empty();
						$('#error_jianjie').empty();
						$('#error_img').empty();
					}else if(respon.errno == 10004){
						$('tr td.error span').html('<img src="/Public/Home/login/images/tip-error.png">'+respon.errmsg);
					}else if(respon.errno == 10005){
						$('#error_img').html('<img src="/Public/Home/login/images/tip-error.png">'+respon.errmsg);
						$('#error_title').empty();
						$('#error_jianjie').empty();
						$('#error_content').empty();
					}else if(respon.errno == 10000){
						window.location.href="<?php echo U('Admin/Article/listArticle')?>";
					}
		        }
			});	
		}
	}); 
})	
</script>
</body>
</html>