<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="/third-party/mdui/dist/css/mdui.min.css"/>

<style>
.mdui-container>div {
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 8px;
}
</style>

</head>
<body>

<div class="mdui-container">
  <div class="mdui-color-blue-200">mdui-color-blue-200</div>
  <div class="mdui-color-blue">mdui-color-blue</div>
  <div class="mdui-color-pink-accent">mdui-color-pink-accent</div>
  <div class="mdui-color-pink-a200">mdui-color-pink-a200</div>
  
  <i class="mdui-icon material-icons">&#xe859;</i>
</div>

</body>
</html>