<include file="Public/header"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">商品属性列表</h2>
       <a href="<?php echo U('Attribute/addAttr');?>" class="fr top_rt_btn add_icon">添加属性</a>
      </div>
      <section class="mtb">
       <input type="text" name="attrName" id="attrName" class="textbox textbox_225" placeholder="输入产品关键词或产品货号..."/>
       <input type="button" value="查询" class="group_btn"/>
      </section>
      <table class="table contents">
       <thead>
       <tr>
        <th>属性</th>
        <th>属性值</th>
        <th>创建时间</th>
        <th>更新时间</th>
        <th>操作</th>
       </tr>
       </thead>
       <tbody>
       <tr><td colspan="5" align="center">暂无数据!</td></tr>
       </tbody>
      </table>
      <aside class="paging">
       <a>第一页</a>
       <a>1</a>
       <a>2</a>
       <a>3</a>
       <a>…</a>
       <a>1004</a>
       <a>最后一页</a>
      </aside>
 </div>
</section>
</body>
</html>

<script>
$(function(){
	init();
	do_sub();
});

function init(){
	//点击提交按钮
	$('.group_btn').unbind('click').click(function(){
		do_sub();
	});
}

function do_sub(){
	var attrName = $('#attrName').val();
	$.post('<?php echo U("Attribute/listAttr");?>',{'attrName':attrName},function(data){
		var html = '';
		var d = eval("("+data+")");//解析json数据
		if(d.list != false && d.list != null){
			for(var o in d.list){
				html += '<tr>';
				html += '<td class="center">'+d.list[o].attrname+'</td>';
				html += '<td class="center">'+d.list[o].attrValue+'</td>';
				html += '<td class="center">'+d.list[o].createdate+'</td>';
				html += '<td class="center">'+d.list[o].updatedate+'</td>';
				html += '<td class="center">';
				html += '<a href="__URL__/editAttr?id='+d.list[o].id+'" title="编辑" class="link_icon">&#101;</a>';
				html += '<a href="javascript:void(0);" onclick="delAttr('+d.list[o].id+')" title="删除" class="link_icon">&#100;</a>';
				html += '<span id="error_'+d.list[o].id+'"></span>'
				html += '</td>';
				html += '</tr>';
			}
			
			$('.contents>tbody').html(html);
			init();
		}
	});
}

//删除属性操作
function delAttr(id){
	$.post('<?php echo U("Attribute/delAttr");?>',{'id':id},function(respon){
		if(respon.errno == 10001){
			$('#error_'+id).html(respon.errmsg);
		}else{
			//localhost.replace(localhost.href);
			do_sub();
		}
	});
}
</script>
