<include file="Public/header"/>

<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">新增商品</h2>
       <a class="fr top_rt_btn" href="<?php echo U('Goods/goodsList');?>">返回商品列表</a>
      </div>
     <section>
      <ul class="ulColumn2">
       <li>
        <input type="hidden" id="goodsId" value="<?php echo $goodsInfo['id'];?>"/>
        <span class="item_name" style="width:120px;">商品分类：</span>
        <select class="select" disabled="disabled" name="categoryId" id="categoryId" style="background-color: #EEEEEE;">
         <option value="0">选择商品分类</option>
         <?php foreach($categoryList as $k => $v){ ?>
         	<!-- 显示赋值该商品所选的分类  -->
         	<?php if($goodsInfo['categoryid'] == $v['id']){ ?>
         		<option value="<?php echo $v['id'];?>" selected="selected"><?php echo $v['name'];?></option>
         	<?php }else{ ?>
         		<option value="<?php echo $v['id'];?>"><?php echo $v['name'];?></option>
         	<?php } ?>
         	<!-- 显示赋值该商品所选的分类  -->
         	<?php foreach($v['son'] as $key => $val){ ?>
	         	<?php if($goodsInfo['categoryid'] == $val['id']){ ?>
	         		<option value="<?php echo $val['id'];?>" selected="selected">----<?php echo $val['name'];?></option>
	         	<?php }else{ ?>
	         		<option value="<?php echo $val['id'];?>">----<?php echo $val['name'];?></option>
	         	<?php } ?>
         	<?php } ?>
         <?php } ?>
        </select>
       </li>
       <li>
        <span class="item_name" style="width:120px;">商品属性：</span>
         <?php foreach($goodsAttrList as $k => $v){ ?>
         	<?php if($v['ischecked'] == 1){ ?>
	       	 <input type="checkbox" name="attrName" checked="checked" id="attrName_<?php echo $v['id'];?>" onclick="abc(<?php echo $v['id'];?>)" value="<?php echo $v['id'];?>" style="margin-right:2px;"><?php echo $v['attrname'];?>
	       	<?php }else{ ?>
	       	 <input type="checkbox" name="attrName" id="attrName_<?php echo $v['id'];?>" onclick="abc(<?php echo $v['id'];?>)" value="<?php echo $v['id'];?>" style="margin-right:2px;"><?php echo $v['attrname'];?>
	       	<?php } ?>
	       	 <span style="margin-right:10px;"></span>
         <?php } ?>
       </li>
       <li id="attrValues">
    	<span class="item_name" style="width:120px;">商品库存：</span>
    	<span id="attrValues1" style="display:none;"><!-- 存取属性列表   --></span>
    	<span id="attrValues2"><input type='text' class="textbox" name='attrValueStock' id='attrValueStock' value="0" placeholder="库存"/></span>
       	<input type="button" value="添加" onclick="addAttrValue()"/>
       	<span id="errorAddAttrValue" style="color:red;"></span>
       </li>
       
       <li>
    	<table id="goodsAttrValueList" class="table contents" style="width:50%;margin-left:120px;">
    		<thead>
    			<th style="width:8%;text-align:center;">颜色</th>
    			<th style="width:8%;text-align:center;">尺码</th>
    			<th style="width:8%;text-align:center;">库存</th>
    			<th style="width:8%;text-align:center;">已售</th>
    			<th style="width:8%;text-align:center;">操作</th>
    		</thead>
    		<tbody></tbody>
    	</table>
       </li>

	   <li style="clear:both;">
        <span class="item_name" style="width:120px;">商品名称：</span>
        <input type="text" name="name" id="name" value="<?php echo $goodsInfo['name'];?>" class="textbox textbox_295" placeholder="商品名称..."/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">商品原价：</span>
        <input type="text" name="oldPrice" id="oldPrice" value="<?php echo $goodsInfo['oldprice'];?>" class="textbox" placeholder="商品销售价格"/>
       </li>
       <li>
        <span class="item_name" style="width:120px;">商品销售价格：</span>
        <input type="text" name="price" id="price" value="<?php echo $goodsInfo['price'];?>" class="textbox" placeholder="商品销售价格"/>
       </li>
       
       <li>
        <span class="item_name" style="width:120px;">是否上架：</span>
        <?php if($goodsInfo['ismarketable'] == 1){ ?>
	        <input type="radio" name="isShow" value="1" checked="checked"/>是
	        <input type="radio" name="isShow" value="0"/>否
        <?php }else{ ?>
        	<input type="radio" name="isShow" value="1"/>是
        	<input type="radio" name="isShow" value="0" checked="checked"/>否
        <?php } ?>
       </li>
       <li>
        <span class="item_name" style="width:120px;">上传图片：</span>
        <label class="uploadImg">
         <input type="file"/>
         <span>上传图片</span>
        </label>
       </li>
       <li>
        <span class="item_name" style="width:120px;">商品详情：</span>
        <script id="editor" type="text/plain" style="width:1024px;height:500px;margin-left:120px;margin-top:0;"></script>
       </li>
       <li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn"/>
        <span class="errorTips"></span>
       </li>
      </ul>
     </section>
 </div>
</section>

<script>
$(function(){
	goodStoreList();
	firstAttrName();
});

//进入编辑界面时，商品有选择某属性时，其下面的属性规格值选项框显示出来
function firstAttrName(){
	$("input[name='attrName']:checked").each(function(){
		subAttr($(this).val());
	});
}

//判断某商品属性是否已选择，选择则触发subAttr()函数，反之则去除相对应生成的select元素
function abc(id){
	goodStoreList();
	if($("#attrName_"+id).is(':checked')){
		subAttr(id);
	}else{
		$("#attrNameValue_"+id).remove();
	} 
}

function subAttr(id){
	$.post('<?php echo U("Goods/attrValueList");?>',{'id':id},function(data){
		var html = "";
		var d = eval("("+data+")");
		if(d.list != false && d.list != null){
			html += '<select class="select" name="attrNameValue" id="attrNameValue_'+id+'" style="margin-right:20px;">';
			html += '<option value="0">请选择</option>';
			for(var i in d.list){
				/* html = '<span style="margin-right:10px;"><input type="checkbox" name="value" value="'+d.list[i].id+'" class="textbox"/>'+d.list[i].value+'</span>';*/
				html += '<option value="'+d.list[i].value+'">'+d.list[i].value+'</option>';
			}
			html += '</select>';
		}
		$('#attrValues1').append(html);
	    $('#attrValues1').show();
	});
}

//点击添加按钮时
function addAttrValue(){
	var attrNameArray = new Array();
	$("input[name='attrName']:checked").each(function(){
		attrNameArray.push($(this).val());
	});
	var attrNameValueArray = new Array();
	$("select[name='attrNameValue']").find("option:selected").each(function(){
		attrNameValueArray.push($(this).val());
	});
	
	var goodsId = $('#goodsId').val();
	var attrIdList = attrNameArray.toString();
	var attrValueList = attrNameValueArray.toString();
	console.log(attrIdList);
	console.log(attrValueList);
	
	var price = $('#price').val();
	var stock = $('#attrValueStock').val();
	$.post('<?php echo U("Goods/goodStoreAdd")?>',{'goodsId':goodsId,'attrIdList':attrIdList,'attrValueList':attrValueList,'price':price,'stock':stock},function(respon){
		if(respon.errno == 10001){
			$('#errorAddAttrValue').html(respon.errmsg);
			console.log(respon.errmsg);
		}else{
			console.log(respon.errmsg);
			//添加成功，展示列表
			$('#errorAddAttrValue').empty();
			goodStoreList();
		}
	});
}

//商品属性规格列表展示
function goodStoreList(){
	//规格头部信息动态展示
	var attrNameArray = new Array();
	$("input[name='attrName']:checked").each(function(){
		attrNameArray.push($(this).val());
	});
	var attrNameIdList = attrNameArray.toString();
	console.log(attrNameIdList);
	$.post('<?php echo U("Goods/getAttrNameList");?>', {'attrNameId':attrNameIdList}, function(data){
		var thead = '';
		var d = eval("("+data+")");
		console.log(d);
		if(d.list != false && d.list != null){
			for(var i in d.list){
				thead += '<th style="width:8%;text-align:center;">'+d.list[i].attrname+'</th>';
			}
			thead += '<th style="width:8%;text-align:center;">库存</th>';
			thead += '<th style="width:8%;text-align:center;">已售</th>';
			thead += '<th style="width:8%;text-align:center;">操作</th>';
		}
		
		$('#goodsAttrValueList>thead').html(thead);
	});
	
	//商品规格列表展示
	var goodsId = $('#goodsId').val();
	$.post('<?php echo U("Goods/goodStoreList");?>',{'goodsId':goodsId},function(data){
		var html = '';
		var d = eval("("+data+")");
		console.log(d);
		if(d.list != false && d.list != null){
			for(var i in d.list){
				html += '<tr style="text-align:center;">';
				if(attrNameArray.length == 1){
					html += '<td>'+d.list[i].attrvalue1+'</td>';
				}else if(attrNameArray.length == 2){
					html += '<td>'+d.list[i].attrvalue1+'</td>';
					html += '<td>'+d.list[i].attrvalue2+'</td>';
				}else{
					html += '<td>'+d.list[i].attrvalue1+'</td>';
					html += '<td>'+d.list[i].attrvalue2+'</td>';
					html += '<td>'+d.list[i].attrvalue3+'</td>';
				}
				html += '<td>'+d.list[i].stock+'</td>';
				html += '<td>'+d.list[i].soldnum+'</td>';
				html += '<td>';
				html += '<a href="javascript:void(0);" onclick="editGoodStore('+d.list[i].id+','+d.list[i].goodsid+')">编辑</a>';
				html += '<a href="javascript:void(0);" onclick="delGoodStore('+d.list[i].id+','+d.list[i].goodsid+')">删除</a>';
				html += '</td>';
				html += '</tr>';
			}
		}
		
		$('#goodsAttrValueList>tbody').html(html);
	});
}

//编辑商品属性规格
function editGoodStore(id,goodsId){
	var stock = prompt("请输入库存：");
	$.post('<?php echo U("Goods/goodStoreEdit")?>',{'id':id,'goodsId':goodsId,'stock':stock},function(){
		goodStoreList();
	});
}

//删除商品属性规格
function delGoodStore(id,goodsId){
	var con = confirm('删除后不可恢复，确定要删除吗？');
	if(con == true){
		$.post('<?php echo U("Goods/goodStoreDel");?>',{'id':id,'goodsId':goodsId},function(respon){
			goodStoreList();
		});
	}
}

//点击编辑按钮时
$('.link_btn').unbind('click').click(function(){
	var attrNameArray = new Array();
	$("input[name='attrName']:checked").each(function(){
		attrNameArray.push($(this).val());
	});
	var attrNameValueArray = new Array();
	$("select[name='attrNameValue']").find("option:selected").each(function(){
		attrNameValueArray.push($(this).val());
	});
	
	var attrIdList = attrNameArray.toString();//把数组转换成字符串形式  属性id
	var attrValueList = attrNameValueArray.toString();//属性值id
	var goodsId = $('#goodsId').val();
	var categoryId = $('#categoryId').val();
	var goodsName = $('#name').val();
	var oldPrice = $('#oldPrice').val();
	var unitName = $('#unitName').val();
	var price = $('#price').val();
	var isShow = $("input[type='radio']:checked").val();
	
	$.post('<?php echo U("Goods/goodsEdit");?>',
		{
			'id':goodsId,
			'attrIdList':attrIdList,
			'attrValueList':attrValueList,
			'categoryId':categoryId,
			'name':goodsName,
			'oldPrice':oldPrice,
			'unitName':unitName,
			'price':price,
			'isShow':isShow
		},function(respon){
		if(respon.errno == 10001){
			$('.errorTips').html(respon.errmsg);
		}else{
			alert(respon.errmsg);
			$('#goodsId').val(respon.data);//把新增的商品id赋值给goodsId标签
			$('.errorTips').html(respon.errmsg);
		}
	});
});

</script>
</body>
</html>
